.hazetrip-home {
  @apply flex h-[100vh];
}

.hazetrip-main {
  @apply flex-1;
}

.hazetrip-sidebar {
  @apply w-[260px] h-full flex-shrink-0 border border-y-0 border-l-0 border-solid border-[var(--border-light)];
}
.hazetrip-main-body {
  @apply p-6 relative;
}

.hazetrip-sidebar-header {
  @apply px-[22px] py-5 flex items-center;
}

.hazetrip-sidebar-menu {
  @apply px-3 pb-3;
}

.hazetrip-main-inner {
  @apply border border-solid p-3 w-full flex items-center justify-between rounded-[var(--border-radius)] border-[var(--border-lighter)];
}
.hazetrip-main-header-right{
  @apply flex items-center gap-3;
}
.hazetrip-cta {
  @apply flex items-center gap-3;
}

.hazetrip-cta-card {
  @apply border border-dashed py-3 px-5 rounded-xl
    border-[var(--border-light)];
}

.hazetrip-cta-card .title {
  @apply text-xs font-normal leading-[20px] mb-1 text-[var(--text-base)];
}

.hazetrip-cta-card .number {
  @apply text-sm font-medium;
}

.hazetrip-cta-card .text {
  @apply text-xs leading-[16px]
    text-[var(--text-base)];
}

.hazetrip-cta-card .hazetrip-cta-card-content {
  @apply flex items-center justify-between gap-2.5;
}

.hazetrip-cta-card .cta-content {
  @apply border border-solid border-y-0 border-r-0 pl-2.5 border-[var(--border-lighter)];
}

.hazetrip-icon {
  @apply w-[30px] h-[30px] flex items-center justify-center rounded-full bg-[var(--accent)];
}

.hazetrip-icon svg {
  @apply text-[var(--secondary)];
}

/*
 * Badge
 */

.badge {
  @apply rounded-xl px-2 py-1 font-medium text-[11px] leading-[12px];
}

.badge.danger {
  @apply text-[var(--danger)];
  background: rgba(var(--danger-soft), 0.2);
}

/*
 * Stats
 */
.hazetrip-stats-cards{
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3;
}
.hazetrip-stats-card{
  @apply py-3 px-5 rounded-[var(--border-radius-lg)] grid gap-2;
}
.hazetrip-stats-card .stat-content{
  @apply flex items-center gap-1;
}
.hazetrip-stats-card .stat-content-footer{
  @apply flex items-center gap-1 justify-between;
}

.hazetrip-stats-card .stat-title{
  @apply text-xs my-0;
}
.hazetrip-stats-card .stat-value{
  @apply text-xl font-medium text-[var(--gray-dark)] leading-[28px];
}

.hazetrip-stats-card.rewards-card {
  background-color: rgba(226, 181, 0, 0.1);
}
.hazetrip-stats-card.partial-card {
  background-color: rgba(5, 120, 191, 0.1);
}
.hazetrip-stats-card.emergency-credit-card {
  background-color: rgba(221, 51, 48, 0.1);
}
.hazetrip-stats-card.balance-card {
  background-color: rgba(25, 170, 64, 0.1);
}

.hazetrip-stats-card.rewards-card .stat-title{
  @apply text-[var(--warning)];
}
.hazetrip-stats-card.partial-card .stat-title{
  @apply text-[var(--info)];
}
.hazetrip-stats-card.emergency-credit-card .stat-title{
  @apply text-[var(--danger)];
}
.hazetrip-stats-card.balance-card .stat-title{
  @apply text-[var(--success)];
}

/*
 * notification-actions
 */
.hazetrip-notifications-dropwon-wrap .notification-actions{
  @apply w-10 h-10 rounded-[var(--border-radius-md)] flex items-center justify-center bg-[var(--accent)] border border-solid border-[var(--border-lighter)] cursor-pointer relative;
}
.hazetrip-notifications-dropwon-wrap .notification-actions span{
    @apply w-3.5 h-3.5 rounded-full bg-[var(--warning)] flex items-center justify-center text-xs text-[var(--gray-dark)] absolute top-1 right-1;
}

