.hazetrip{
  &-home{
    @apply flex h-[100vh];
  }
  &-main{
    @apply flex-1;
  }
  &-sidebar{
    @apply w-[260px] h-full flex-shrink-0 border border-y-0 border-l-0 border-solid;
    border-color: $border-light;
    &-header{
      @apply px-[22px] py-5 flex items-center;
    }
    &-menu{
      @apply px-3 pb-3;
    }
  }
}

//stats
.hazetrip-stats{
  @apply border border-solid p-3 w-full flex items-center justify-between;
  border-color: $border-lighter;
  border-radius: $border-radius;
}
.hazetrip-cta{
  @apply flex items-center gap-3;
}
.hazetrip-cta-card{
  @apply border border-dashed py-3 px-5 rounded-xl;
  border-color: $border-light;
  .title{
    @apply text-xs font-normal leading-[20px] mb-1;
    color: $text-base;
  }
  .number{
    @apply text-sm font-medium;
  }
  .text{
    @apply text-xs leading-[16px];
    color: $text-base;
  }
  .hazetrip-cta-card-content{
    @apply flex items-center justify-between gap-2.5;
  }
  .cta-content{
    @apply border border-solid border-y-0 border-r-0 pl-2.5;
    border-color: $border-lighter;
  }
}

// icon element
.hazetrip-icon{
  @apply w-[30px] h-[30px] flex items-center justify-center rounded-full;
  background-color: $accent;
  svg{
    color: $secondary;
  }
}

// badge
.badge{
  @apply rounded-xl px-2 py-1 font-medium text-[11px] leading-[12px];
  &.danger{
    background: rgba($danger, 0.2);
    color: $danger;
  }
}
