.menu-list{
  @apply grid gap-1.5;
  a,
  button {
    @apply flex w-full items-center justify-between gap-2 py-1.5 px-3 text-sm font-normal leading-[22px] transition duration-200;
    color: $text-base;
    border-radius: $border-radius;
    span{
      @apply flex items-center gap-2;
    }
    .action-icon{
      @apply transition duration-200;
    }
    &:hover{
      background-color: $accent;
      color: $primary;
      .action-icon {
        svg{
          color: $primary;
        }
      }
    }
    &.active{
      background-color: $primary;
      color: $white;
    }
  }
  .menu-heading{
    @apply text-xs font-normal leading-[22px] uppercase px-3 py-1.5 mt-3.5;
    letter-spacing: 2px;
    color: $text-light;
  }
  li{
    &.has-dropdown{
      @apply relative;
      ul{
        @apply absolute left-2 w-[96%] mt-1;
        a{
          @apply relative pl-[30px];
          &::before{
            @apply absolute top-1/2 left-4 w-1 h-1 rounded-full;
            transform: translateY(-50%);
            background-color: $text-base;
            content: "";
          }
          &:hover{
            &::before{
              background-color: $primary;
            }
          }
        }
      }
      &.open{
        .action-icon{
          transform: rotate(-180deg);
        }
      }
    }
  }
}
